@font-face {
    font-family: 'Akzidenz-GroteskSuper';
    src: url('../fonts/AkzidenzGrotesk-Super.otf');
}

@font-face {
    font-family: 'Akzidenz-GroteskSuperItalic';
    src: url('../fonts/AkzidenzGrotesk-SuperItalic.otf');
}

@font-face {
    font-family: 'Akzidenz-GroteskBold';
    src: url('../fonts/AkzidenzGrotesk-Bold.otf');
}

@font-face {
    font-family: 'Akzidenz-GroteskBoldItalic';
    src: url('../fonts/AkzidenzGrotesk-BoldItalic.otf');
}

@font-face {
    font-family: 'Akzidenz-GroteskMedium';
    src: url('../fonts/AkzidenzGrotesk-Medium.otf');
}

@font-face {
    font-family: 'Akzidenz-GroteskMediumItalic';
    src: url('../fonts/AkzidenzGrotesk-MediumItalic.otf');
}

section {
    background-color: black;
}

header .text {
    cursor: none;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin-top: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size: 9em;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: width 1s ease-in-out, height 1s ease-in-out, margin-top 1s ease-in-out;
    -moz-transition: width 1s ease-in-out, height 1s ease-in-out, margin-top 1s ease-in-out;
    -o-transition: width 1s ease-in-out, height 1s ease-in-out, margin-top 1s ease-in-out;
    transition: width 1s ease-in-out, height 1s ease-in-out, margin-top 1s ease-in-out, font-size 1s ease-in-out, margin-left 1s ease-in-out, margin-right 1s ease-in-out;
}

.viewing-page-2 header .text,
.viewing-page-3 header .text,
.viewing-page-5 header .text,
.viewing-page-6 header .text,
.viewing-page-7 header .text,
.viewing-page-8 header .text {
    width: 20%;
    height: 10%;
    margin-top: 2%;
    font-size: 3em;
    margin-left: 0;
}

.viewing-page-4 header .text {
     width:20%;
     height:10%;
     margin-top: -102%;
     font-size: 3em;
     margin-left: 0;
 }

.viewing-page-9 header .text,
.viewing-page-10 header .text,
.viewing-page-11 header .text {
    width: 5%;
    height: 5%;
    margin-top: 45%;
    font-size: 1.5em;
    margin-left: 47.5%;
}

.page4 .img-wrapper #back4 {
     width:100%;!important
 }
 
 @keyframes positionchange {
   0%, 24.9% {top: 5%;left:5%;}
   25%, 49.9% {top: 85%;left:5%;}
     50%, 74.9%  {top: 85%;left:75%;}
    75%, 99.9% {top: 5%;left:75%;}
 }
 
 
 .page4 .logo {
     position: absolute;
     top: 5%;
     left:5%;
     height:9%;
     width:20%;
     z-index: 5000;
     text-align: center;
     animation: positionchange 20s infinite;
 }
 
 
 
 .logo img { height:100%; }

.sentence {
    width: 80%;
    height: 10%;
    display: block;
    position: absolute;
    margin-top: 2%;
    left: 20%;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: white;
    z-index: 5000;
}

.texto {
    color: white;
    font-family: 'Akzidenz-GroteskBold', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.texto .italix {
    font-family: 'Akzidenz-GroteskBoldItalic', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.page2 .texto {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 5%;
    color: white;
    z-index: 5000;
}

.page4 .texto {
    width: 40%;
    height: 10%;
    display: block;
    position: absolute;
    z-index: 5000;
    margin-top: 20%;
    left: 30%;
    font-size: 2em;
    color: white;
}

.page5 .texto {
    width: 25%;
    height: 10%;
    display: block;
    position: absolute;
    margin-top: 30%;
    left: 70%;
    font-size: 2em;
    color: white;
    z-index: 5000;
}

.page6 .container {
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    height: 80%;
    width: 90%;
}

.page6 .details {
    width: 100%;
    color: white;
    display: block;
    position: absolute;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    text-align: center;
    bottom: 6%;
    z-index: 5000;
}

.page7 .texto {
    width: 35%;
    height: 10%;
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 4.5%;
    font-size: 2em;
    color: white;
    z-index: 5000;
}

.page7 .details {
    width: 100%;
    color: white;
    display: block;
    position: absolute;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    text-align: center;
    bottom: 6%;
    z-index: 5000;
}

.page7 .img-wrapper {
    display: block;
    position: fixed;
    margin: auto;
    left: 0;
    overflow: hidden;
    height: 100vh;
}

.page8 .texto {
    width: 50%;
    height: 10%;
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 20%;
    font-size: 2em;
    color: white;
    z-index: 5000;
}

.page8 .cinemagraphs {
    width: 80%;
    height: 10%;
    display: block;
    position: absolute;
    margin-top: 10%;
    left: 20%;
    font-family: 'Akzidenz-GroteskBold', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: white;
    z-index: 5000;
    text-decoration: underline;
}

.img-wrapper #frame-back {
    height: 100%;
}

.img-wrapper #back {
    width: 101%;
}

.img-enquadramento #back {
    width: 101%;
}

section .videocontainer {
    margin-top: 5%;
    height: 70%;
    width: 100%;
}

section .videocontainer .row {
    height: 50%;
    width: 60%;
    margin-left: 20%;
}

section .videocontainer .row.top {
    margin-bottom: 1%;
}

section .videocontainer .row .right {
    margin-right: 2%;
}

section .videocontainer iframe {
    width: 48%;
    height: 100%;
    display: inline;
}

.page11 .videocontainer iframe {
    height: 100%;
    width: 60%;
    margin-left: 20%;
}

.details {
    width: 100%;
    color: white;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    text-align: center;
    margin-top: 6%;
}

.page11 .details p {
    line-height: 0.8em;
}

#div1 {
    border: 10px solid #ffffff;
    top: 15%;
    left: 17%;
    width: 60%;
    height: 70%;
    position: absolute;
    cursor: move;
}

.ui-resizable-handle {
    width: 15px;
    height: 15px;
    background-image: none;
}

.ui-resizable-nw {
    position: absolute;
    cursor: nw-resize;
    left: -10px;
    top: -10px;
}

.ui-resizable-ne {
    position: absolute;
    cursor: ne-resize;
    top: -10px;
    right: -10px;
}

.ui-resizable-sw {
    position: absolute;
    cursor: sw-resize;
    bottom: -10px;
    left: -10px;
}

.ui-resizable-se {
    position: absolute;
    cursor: se-resize;
    bottom: -10px;
    right: -10px;
}

.ui-resizable-helper {
    border: 1px dotted gray;
}

.frame {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 2em;
}


 
 @keyframes textchange {
   0% {
     content: "simples";
   }
     25% {
         content:"dinâmica";
     }
     
   50% {
     content:"eficaz";
   }
     
     75% {
         content:"direta";
     }
   100% {
     content: "compreensível";
   }
 }
 
 .text-changer {
 
     cursor: none;
     width:100%;
     height:100%;
     display: block;
     position: absolute;
     margin-top:  20%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
     font-size:9em;
     color: white;
 
 }
 
 .text-changer:after {
   animation: textchange 8s linear infinite alternate;
     content:"limpa";
 }