@font-face {
    font-family: 'Akzidenz-GroteskSuper';
    src: url('../fonts/AkzidenzGrotesk-Super.otf');
    
}

.page1 {
    background-color: #b466ba;
}

header .text {
    cursor: none;
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    margin-top:  20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size:9em;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin-top 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin-top 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out, margin-top 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out, margin-top 300ms ease-in-out, font-size 300ms ease-in-out, margin-left 300ms ease-in-out, margin-right 300ms ease-in-out;
}


.viewing-page-2 header .text,
.viewing-page-3 header .text,
.viewing-page-4 header .text,
.viewing-page-5 header .text,
.viewing-page-6 header .text,
.viewing-page-7 header .text
{
    width:20%;
    height:10%;
    margin-top: 2%;
    font-size: 3em;
    margin-left: 0;
}


.viewing-page-8 header .text,
.viewing-page-9 header .text,
.viewing-page-10 header .text {
    width:5%;
    height:5%;
    margin-top: 45%;
    font-size: 1.5em;
    margin-left: 47.5%;
}


.page2 {
    background-color: #3d6060;
}

.sentence
{
    width:80%;
    height:10%;
    display: block;
    position: relative;
    margin-top: 2%;
    left: 20%;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size:3em;
    color: white;
}

.page3 {
    background-color: aqua;
} 


.page7 .img-wrapper {
    display: block;
    position: fixed;
    margin: auto;
    left:0;
    overflow: hidden;
    height: 100vh;
}

.img-wrapper #frame-back {    
    height:100%;
}

section .videocontainer {
    
    margin-top: 5%;
    height: 70%;
    width:100%;
}

section .videocontainer .row {
    height: 50%;
    width:60%;
    margin-left: 20%;
}

section .videocontainer .row.top {
    margin-bottom: 1%;
}
section .videocontainer .row .right{
    
    margin-right: 2%;
}

section .videocontainer iframe {
    
    width: 48%;
    height: 100%;
    display: inline;
}

.page8, .page9, .page10 {
    background-color: black;
}
 .page10 .videocontainer iframe {
    height:100%;
    width:60%;
    margin-left: 20%;
}

 .details {
    width:100%;
    color:white;
    font-family: 'Akzidenz-GroteskSuper', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    text-align: center;
    margin-top: 5%;
}

.page10 .details p {
    line-height: 0.8em;
}